@using SimulatorTestProject.Models
@model SimulatorTestProject.ViewModel.AllItemViewModel

<div class="text-center">
    <h1 class="display-4">Simulator</h1>
</div>

<style>

    #OpenVentil1ButtonDiv {
        padding: 0px;
        margin-left: 50px;
        margin-top: 200px;
        height: 10px;
    }

    #CloseVentil1ButtonDiv {
        padding: 0px;
        margin-left: 50px;
        margin-top: 20px;
        height: 10px;
    }

    #OpenVentil4ButtonDiv {
        padding: 0px;
        margin-left: 345px;
        margin-top: 110px;
        height: 10px;
    }

    #CloseVentil4ButtonDiv {
        padding: 0px;
        margin-left: 345px;
        margin-top: 20px;
        height: 10px;
    }

    #PipeMapDiv {
        padding: 20px;
        background-color: lightblue;
    }

    #Pipe1Div {
        margin-left: 100px;
        margin-top: -20px;
        height: 10px;
    }

    #Pipe2Div {
        margin-left: 398px;
        margin-top: -115px;
        height: 10px;
    }





    #Ventil1Div {
        width: 370px;
        height: auto;
        background: red;
    }

    #Ventil1CloseImg {
        height: 30px;
        width: 50px;
        margin-top: 300px;
        margin-left: -65px;
    }

    #Ventil1ActiveImg {
        height: 30px;
        width: 50px;
        margin-top: 300px;
        margin-left: -65px;
    }

    #Ventil1OpenButton {
        height: auto;
        width: 70px;
        font-size: 15px;
        margin-top: 210px;
        margin-left: 80px;
    }

    #Ventil1CloseButton {
        height: auto;
        width: 70px;
        font-size: 15px;
        margin-top: 210px;
        margin-left: 80px;
    }

    #Pipe1CloseImg {
        height: 100px;
        width: auto;
        margin-top: 400px;
        margin-left: -5px;
    }

    #Pipe1ActiveImg {
        height: 100px;
        width: auto;
        margin-top: 400px;
        margin-left: -5px;
    }











    #Ventil4Div {
        width: 370px;
        height: auto;
        background: yellow;
        margin-left: 370px;
        margin-top: -500px;
    }

    #Ventil4CloseImg {
        height: 30px;
        width: 50px;
        margin-top: 485px;
    }

    #Ventil4ActiveImg {
        height: 30px;
        width: 50px;
        margin-top: 485px;
    }

    #Pipe2CloseImg {
        height: 100px;
        width: auto;
        margin-top: 400px;
    }

    #Pipe2ActiveImg {
        height: 100px;
        width: auto;
        margin-top: 400px;
    }

    #Ventil4OpenButton {
        height: auto;
        width: 70px;
        font-size: 15px;
        margin-top: 575px;
        margin-left: -302px;
    }

    #Ventil4CloseButton {
        height: auto;
        width: 70px;
        font-size: 15px;
        margin-top: 575px;
        margin-left: -302px;
    }






    #Ventil2CloseImg {
        height: 30px;
        width: 50px;
        margin-top: 280px;
        margin-left: -65px
    }

    #Ventil2ActiveImg {
        height: 30px;
        width: 50px;
        margin-top: 280px;
        margin-left: -65px
    }

    #Pipe6CloseImg {
        height: 10px;
        width: auto;
        margin-top: 290px;
        margin-left: -80px;
    }

    #Pipe6ActiveImg {
        height: 10px;
        width: auto;
        margin-top: 290px;
        margin-left: -155px;
    }

    #Ventil2OpenButton {
        height: auto;
        width: 70px;
        font-size: 15px;
        margin-left: -200px;
        margin-top: 210px
    }

    #Ventil2CloseButton {
        height: auto;
        width: 70px;
        font-size: 15px;
        margin-left: -200px;
        margin-top: 210px
    }




    #Ventil3CloseImg {
        height: 30px;
        width: 50px;
        margin-top: 210px;
        margin-left: -63px;
    }

    #Ventil3ActiveImg {
        height: 30px;
        width: 50px;
        margin-top: 210px;
        margin-left: -63px;
        margin-right: 50px;
    }

    #Pipe4CloseImg {
        height: 10px;
        width: 50px;
        margin-top: 210px;
        margin-left: -80px;
    }

    #Pipe4ActiveImg {
        height: 10px;
        width: 40px;
        margin-top: 210px;
        margin-left: -100px;
    }

    #Ventil3OpenButton {
        height: auto;
        width: auto;
        font-size: 15px;
        margin-left: 200px;
        margin-top: 140px
    }

    #Ventil3CloseButton {
        height: auto;
        width: auto;
        font-size: 15px;
        margin-left: 200px;
        margin-top: 140px
    }





    #Ventil5CloseImg {
        height: 30px;
        width: 50px;
        margin-top: 290px;
        margin-left: -59px
    }

    #Ventil5ActiveImg {
        height: 30px;
        width: 50px;
        margin-top: 290px;
        margin-left: -59px
    }

    #Pipe3CloseImg {
        height: 10px;
        width: auto;
        margin-top: 290px;
        margin-left: -105px;
    }

    #Pipe3ActiveImg {
        height: 10px;
        width: auto;
        margin-top: 290px;
        margin-left: -205px;
    }

    #Ventil5OpenButton {
        height: auto;
        width: 70px;
        font-size: 15px;
        margin-left: 400px;
        margin-top: 210px
    }

    #Ventil5CloseButton {
       height: auto;
        width: 70px;
        font-size: 15px;
        margin-left: 400px;
        margin-top: 210px
    }
</style>


<html>


<head>
    <title>HTML Image as link</title>

</head>


<body>

    <script>


        function OpenVentil1() {
            var img = document.getElementById("Pipe1");
            img.src = "/Images/Pipe1Green.png";
            return false;
        }

        function CloseVentil1() {
            var img = document.getElementById("Pipe1");
            img.src = "Images/Pipe1.png";
            return false;
        }

        function OpenVentil4() {
            var img = document.getElementById("Pipe2");
            img.src = "/Images/Pipe2Green.png";
            return false;
        }

        function CloseVentil4() {
            var img = document.getElementById("Pipe2");
            img.src = "Images/Pipe2.png";
            return false;
        }


    </script>


    @*<div id="PipeMapDiv">

            <div id="OpenVentil1ButtonDiv">
                <button name="button" onclick="OpenVentil1()">Open</button>
            </div>

            <div id="CloseVentil1ButtonDiv">
                <button name="button" onclick="CloseVentil1()">Close</button>
            </div>

            <img id="InterPoint" src="~/Images/InterPoint.png" style="margin-top:30px; width:50px; height:30px" />

            <div id="Pipe1Div">
                <img id="Pipe1" src="~/Images/Pipe1.png" style="width:250px; height:100px">
            </div>

            <img id="Ventil1Symbol1" src="~/Images/VentilSymbol.png" style="margin-top:-115px; margin-left:50px; width:50px; height:40px">

            <img id="Ventil2Symbol1" src="~/Images/VentilSymbol.png" style="margin-top:65px; margin-left:245px; width:50px; height:40px">

            <div id="Pipe2Div">
                <img id="Pipe2" src="~/Images/Pipe2.png" style="width:250px; height:100px">
            </div>

            <div id="OpenVentil4ButtonDiv">
                <button id="OpenVentil4Button" onclick="OpenVentil4()">Open</button>
            </div>

            <div id="CloseVentil4ButtonDiv">
                <button id="CloseVentil4Button" onclick="CloseVentil4()">Close</button>
            </div>

        </div>*@




<div class="Pipe-Map" style="background-color: cornflowerblue ">


    @foreach (var v in Model.AllItemVentil.Where(v => v.Id == 1))
    {
        if (v.Status == 1)
        {

            <a id="Ventil1CloseButton" class="btn btn-primary" href="Home/ToggleVentil/@v.Id.ToString()">Stäng</a>

            <img id="Ventil1ActiveImg" src="~/Images/VentilSymbolGreen.png" />

            @foreach (PipeClass p in v.VentilPipeList)
            {
                <img id="Pipe1ActiveImg" src="@Url.Content(p.ImageSRCActive)" />
            }

        }

        else if (v.Status == 2)
        {

            <a id="Ventil1OpenButton" class="btn btn-primary" href="Home/ToggleVentil/@v.Id.ToString()">Öppna</a>


            <img id="Ventil1CloseImg" src="~/Images/VentilSymbol.png" />

            @foreach (PipeClass p in v.VentilPipeList)
            {
                <img id="Pipe1CloseImg" src="@Url.Content(p.ImageSRC)" />
            }
        }
    }





    @foreach (var v in Model.AllItemVentil.Where(v => v.Id == 4))
    {
        if (v.Status == 1)
        {



            <img id="Ventil4ActiveImg" src="~/Images/VentilSymbolGreen.png" />

            @foreach (PipeClass p in v.VentilPipeList)
            {
                <img id="Pipe2ActiveImg" src="@Url.Content(p.ImageSRCActive)" />
            }

            <a id="Ventil4CloseButton"  class="btn btn-primary" href="Home/ToggleVentil/@v.Id.ToString()">Stäng</a>

        }

        else if (v.Status == 2)
        {




            <img id="Ventil4CloseImg" src="~/Images/VentilSymbol.png" />

            @foreach (PipeClass p in v.VentilPipeList)
            {
                <img id="Pipe2CloseImg" src="@Url.Content(p.ImageSRC)" />
            }

            <a id="Ventil4OpenButton"  class="btn btn-primary" href="Home/ToggleVentil/@v.Id.ToString()">Öppna</a>
        }
    }



    @foreach (var v in Model.AllItemVentil.Where(v => v.Id == 2))
        {
            if (v.Status == 1)
            {


                <a id="Ventil2CloseButton" class="btn btn-primary" href="Home/ToggleVentil/@v.Id.ToString()">Stäng</a>

                <img id="Ventil2ActiveImg" src="~/Images/VentilSymbolGreen.png" />

                @foreach (PipeClass p in v.VentilPipeList)
                {
                    <img id="Pipe6ActiveImg" src="@Url.Content(p.ImageSRCActive)" />
                }



            }

            else if (v.Status == 2)
            {


                <a id="Ventil2OpenButton" class="btn btn-primary" href="Home/ToggleVentil/@v.Id.ToString()">Öppna</a>

                <img id="Ventil2CloseImg" src="~/Images/VentilSymbol.png" />

                @foreach (PipeClass p in v.VentilPipeList)
                {
                    <img id="Pipe6CloseImg" src="@Url.Content(p.ImageSRC)" />
                }

            }
        }




        @*@foreach (var v in Model.AllItemVentil.Where(v => v.Id == 3))
        {
            if (v.Status == 1)
            {


                <a id="Ventil3CloseButton" class="btn btn-primary" href="Home/ToggleVentil/@v.Id.ToString()">Stäng</a>

                <img id="Ventil3ActiveImg" src="~/Images/VentilSymbolGreen.png" />

                @foreach (PipeClass p in v.VentilPipeList)
                {
                    <img id="Pipe4ActiveImg" src="@Url.Content(p.ImageSRCActive)" />
                }



            }
            else if (v.Status == 2)
            {


                <a id="Ventil3OpenButton" class="btn btn-primary" href="Home/ToggleVentil/@v.Id.ToString()">Öppna</a>

                <img id="Ventil3CloseImg" src="~/Images/VentilSymbol.png" />

                @foreach (PipeClass p in v.VentilPipeList)
                {
                    <img id="Pipe4CloseImg" src="@Url.Content(p.ImageSRC)" />
                }

            }
        }*@



        @foreach (var v in Model.AllItemVentil.Where(v => v.Id == 5))
        {
            if (v.Status == 1)
            {


                <a id="Ventil5CloseButton" class="btn btn-primary" href="Home/ToggleVentil/@v.Id.ToString()">Stäng</a>

                <img id="Ventil5ActiveImg" src="~/Images/VentilSymbolGreen.png" />

                @foreach (PipeClass p in v.VentilPipeList)
                {
                    <img id="Pipe3ActiveImg" src="@Url.Content(p.ImageSRCActive)" />
                }



            }

            else if (v.Status == 2)
            {


                <a id="Ventil5OpenButton" class="btn btn-primary" href="Home/ToggleVentil/@v.Id.ToString()">Öppna</a>

                <img id="Ventil5CloseImg" src="~/Images/VentilSymbol.png" />

                @foreach (PipeClass p in v.VentilPipeList)
                {
                    <img id="Pipe3CloseImg" src="@Url.Content(p.ImageSRC)" />
                }

            }
        }











    @*@foreach (var pu in Model.AllItemPump)
        {
            if (pu.Status == 1)
            {


                <a id="Ventil5CloseButton" class="btn btn-primary" href="Home/TogglePipePump/@pu.Id.ToString()">Stäng</a>

                <img id="Ventil5ActiveImg" src="~/Images/VentilSymbolGreen.png" />

                @foreach (PipeClass p in pu.PumpPipeList)
                {
                    <img id="Pipe3ActiveImg" src="@Url.Content(p.ImageSRCActive)" />
                }



            }

            else if (v.Status == 2)
            {


                <a id="Ventil5OpenButton" class="btn btn-primary" href="Home/TogglePipePump/@pu.Id.ToString()">Öppna</a>

                <img id="Ventil5CloseImg" src="~/Images/VentilSymbol.png" />

                @foreach (PipeClass p in pu.PumpPipeList)
                {
                    <img id="Pipe3CloseImg" src="@Url.Content(p.ImageSRC)" />
                }

            }*@

</div>





</body>
</html>
